/* shared styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.display-flex {
  display: flex;
}
.screen {
  max-width: 1140px;
  margin: 0 auto;
}
.title {
  font-size: 3rem;
  font-weight: 700;
}
.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.plant-contents {
  width: 50%;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.btn-primary {
  color: white;
  background-color: rgb(233, 90, 8);
  font-size: 1rem;
  font-weight: 600;
  padding: 19px 80px;
  border: none;
  cursor: pointer;
}
.display-none {
  display: none;
}

/* nav styles */
.navbar {
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.nav-items {
  list-style: none;
  gap: 40px;
}
#nav-link-1 {
  font-weight: 700;
}
#nav-link-2 {
  color: rgba(137, 135, 161, 1);
}

/* hero section styles */
.hero {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.hero-title {
  font-size: 4rem;
  font-weight: 700;
}
.hero-title span {
  color: #e95a08;
}

/* our plants section styles */
.our-plants-contents {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
  text-align: center;
}
.our-plants-contents h3 span {
  color: #e95a08;
}
.our-plant-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}
.flower-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
.flower-subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 25px;
}
.lily-flower-image {
  margin-bottom: 30px;
}

/* flower & plant lover section styles */

/* .plant-lover {
  align-items: center;
  justify-content: space-between;
  height: 880px;
  gap: 60px;
  overflow: hidden;
} */
.plant-lover {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 100px;
  /* border: 2px solid red; */
}
.plant-contents {
  margin-top: -20px;
}
.plant-image {
  width: 50%;
  /* border: 2px solid green; */
}
.store-img {
  width: 100%;
}
.plant-contents ul li {
  margin: 20px 0;
}

.plant-contents ul {
  padding-left: 28px;
}
.plant-contents h3 {
  color: black;
}
.plant-contents img {
  width: 280px;
  margin-top: -130px;
  margin-left: -230px;
  animation: badge-animation 2s infinite;
  animation-timing-function: linear;
}

@keyframes badge-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* latest deal styles */

.deal-section {
  margin-top: 100px;
  margin-bottom: 120px;
}

.deal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 125px 120px 150px;
}
.deal-contents h3 span {
  color: #e95a08;
}
.deal-flex {
  width: 1140px;
  height: 420px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.mini {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.mini-card-1 {
  width: 367px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-bloom.png);
  opacity: 0.8;
  border-radius: 20px;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}
.mini-card-1 a {
  /* text-decoration: none; */
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.mini-card-2 {
  width: 367px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-ana.png);
  opacity: 0.8;
  border-radius: 20px;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}
.mini-card-2 a {
  /* text-decoration: none; */
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.max {
  width: 753px;
  height: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-zabo.png);
  opacity: 0.8;
  border-radius: 20px;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}
.max a {
  /* text-decoration: none; */
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
}

/* join the bunch styles */

.join-section {
  /* max-width: 1440px; */
  /* border: 2px solid blue; */
  width: 100%;
  height: 530px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 200px; */
  gap: 15px;
  margin-bottom: 50px;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#email {
  width: 644px;
  height: 50px;
  border: none;
}
#submit {
  width: 186px;
  height: 50px;
  color: white;
  font-weight: 600;
  background-color: #e95a08;
  border: none;
  cursor: pointer;
}
.form {
  display: flex;
  gap: 0;
}
.join-section h3 {
  color: white;
}

/* footer section styles */
.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 50px; */
  width: 100%;
}
.foot-content {
  margin-top: -40px;
  height: 180px;
  /* border: 1px solid black; */
}
.foot-logo {
  margin-bottom: 16px;
  /* border: 1px solid red; */
}
.foot-links {
  list-style: none;
  /* border: 1px solid gold; */
}
.foot-link {
  margin-bottom: 25px;
}
.foot-link a {
  text-decoration: none;
  color: rgb(107, 114, 128);
  gap: 25px;
}
.foot-icon {
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-top: -190px;
}

/* responsive design for mobile screen */

@media screen and (max-width: 576px) {
  /* header section */

  /* header {
    border: black 3px solid;
  } */

  .navbar {
    width: 100%;
    margin: 0 auto;
  }

  .nav-display-none {
    display: none;
  }
  .hero {
    width: 100%;
    flex-wrap: wrap-reverse;
  }
  .hero-image {
    margin-bottom: 20px;
  }
  .hero-image img {
    width: 100%;
  }
  .hero-content {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  #hero-content-paragraph {
    font-size: 1rem;
  }

  .our-plants {
    width: 100%;
  }
  .our-plants-contents {
    width: 100%;
  }

  .our-plants-contents h3 {
    font-size: 1.5rem;
  }
  .our-plants-contents p {
    font-size: 1.2rem;
  }

  .our-plant-images {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .lily-flower-image {
    width: 100%;
  }

  .lily-flower-image img {
    width: 100%;
  }
  .lily-flower-image button {
    padding: 5px;
    margin-left: 10px;
  }

  .plant-lover {
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
    /* border: black 2px solid; */
  }
  /* .plant-image img {
    width: 100%;

    margin: 0 auto;
  } */
  .plant-image {
    width: 100%;
    /* border: 2px solid green; */
  }
  .plant-contents {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;

    /* border: 2px solid yellow; */
  }
  .plant-lover h3 {
    margin-left: 20px;
  }
  .plant-contents img {
    display: none;
  }
  .plant-contents h3 {
    font-size: 1.5rem;
  }
  .plant-contents ul {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
  }

  .deal-section {
    width: 100%;
  }

  .deal-contents {
    width: 100%;
    margin: 10px auto;
    justify-content: center;
  }
  .deal-contents h3 {
    font-size: 1.5rem;
  }
  .deal-contents p {
    font-size: 1rem;
  }
  .deal-flex {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  .max {
    width: 367px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .mini-card-2 {
    border-radius: 0;
  }

  .join-section {
    width: 100%;
    align-items: center;
    height: 276px;
    /* align-content: center; */
    /* border: black 2px solid; */
  }
  .join-section h3 {
    font-size: 2rem;
    margin: 0 auto;
  }
  .form {
    width: 300px;
    align-items: center;
    flex-direction: row;
  }
  #email {
    width: 250px;
  }

  .footer {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    padding: 0 20px;
    gap: 30px;
  }
  .foot-content {
    margin-top: 0px;
  }
  .foot-icon {
    margin-top: 0px;
  }
}
