/* shared styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.display-flex {
  display: flex;
}
.screen {
  max-width: 1140px;
  margin: 0 auto;
}
.title {
  font-size: 3rem;
  font-weight: 700;
}
.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.btn-primary {
  color: white;
  background-color: rgb(233, 90, 8);
  font-size: 1rem;
  font-weight: 600;
  padding: 19px 80px;
  border: none;
  cursor: pointer;
}

/* nav styles */
.navbar {
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.nav-items {
  list-style: none;
  gap: 40px;
}
#nav-link-1 {
  font-weight: 700;
}
#nav-link-2 {
  color: rgba(137, 135, 161, 1);
}

/* hero section styles */
.hero {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.hero-title {
  font-size: 4rem;
  font-weight: 700;
}
.hero-title span {
  color: #e95a08;
}

/* our plants section styles */
.our-plants-contents {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
  text-align: center;
}
.our-plants-contents h3 span {
  color: #e95a08;
}
.our-plant-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}
.flower-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
.flower-subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 25px;
}
.lily-flower-image {
  margin-bottom: 30px;
}

/* flower & plant lover section styles */

.plant-lover {
  align-items: center;
  justify-content: space-between;
  height: 880px;
  gap: 60px;
  overflow: hidden;
}
.plant-contents ul li {
  margin: 20px 0;
}
.plant-contents ul {
  padding-left: 28px;
}
.plant-contents img {
  width: 280px;
  margin-top: -150px;
  margin-left: -230px;
}

/* latest deal styles */

.deal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 125px 130px 150px;
}
.deal-contents h3 span {
  color: #e95a08;
}

/* .deals-cards {
  align-items: center;
  justify-content: space-between;
}


.mini-card-1 {
  background-image: url(../assets/deal-ana.png);
}
.mini-card-2 {
  background-image: url(../assets/deal-bloom.png);
}
.max {
  width: 753px;
  height: 420px;
  background-image: url(../assets/deal-zabo.png);
}
.max h4 {
  text-align: center;
}
.max a {
  text-align: center;
} */

/* join the bunch styles */

.join-section {
  max-width: 1440px;
  height: 530px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 200px;
  gap: 15px;
  margin-bottom: 50px;
  background-image: url(../assets/news-letter-bg.png);
}

#email {
  width: 644px;
  height: 50px;
  border: none;
}
#submit {
  width: 186px;
  height: 50px;
  color: white;
  font-weight: 600;
  background-color: #e95a08;
  border: none;
}
.form {
  display: flex;
  gap: 0;
}
.join-section h3 {
  color: white;
}

/* footer section styles */
.footer {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.foot-content {
  height: 180px;
}
.foot-logo {
  margin-bottom: 16px;
}
.foot-links {
  list-style: none;
}
.foot-link {
  margin-bottom: 25px;
}
.foot-link a {
  text-decoration: none;
  color: rgb(107, 114, 128);
  gap: 25px;
}
.foot-icon {
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 212px;
}
